<div class="container-fluid bg-warning p-2 d-flex justify-content-center border border-dark">
    <p class="mr-3"><%= link_to 'Inicio', root_path, class: 'btn btn-dark text-white' %></p>
    <p><%= link_to 'Consulta API', get_api_path, target:'_blank', class: 'btn btn-dark text-white' %></p>
</div>